.fog-container {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

.fog-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0) 40%);
    opacity: 0.5;
    animation: moveFog 20s linear infinite;
}

.fog-layer:nth-child(2) {
    opacity: 0.6;
    animation: moveFog 15s linear infinite;
}

.fog-layer:nth-child(3) {
    opacity: 0.4;
    animation: moveFog 10s linear infinite;
}

@keyframes moveFog {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}
