body{
	background-color: black;
}

.header-text{
	color:white;
	font-size: 80px;
	position: absolute;
	top: 30%;
	margin-left: 60%;
	margin-right: 30%;
	text-align: center;
}

.image-logo{
	width: 50%;
	height: 50%;
	margin-left: 5%;
	left: 30%;
	margin-top: 1%;
	margin-bottom: 1%;
	
}

.about-info{
	color: white;
	font-size: 26px;
	margin-left: 5%;
	text-align: left;

}

.line{
	background-color: #111111;
	width: auto;
	height: 10px;
	left:0%;

}