body{
    font-family: 'Times New Roman', Times, serif;
}

.python-image{
    margin-left: 35%;
    position:relative;
}

.python-image img{
    margin-left: 10%;
}

.python-image h1{
    display: flex;
    font-size: 52px;

    background: linear-gradient(-60deg, #904e45, #bc3826, #e73c7e, #ee7752, #edca4e, #5dad17, #00ffd0, #51a2ff, #6644fd, #d400ff, #ff0088);
    background-size: 300%;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: RGB-light 10s infinite;
}

.python-image.illustrator h1{
    margin-left: 3%;
}

.block-cards{
    position: relative;
    display: flex;
}

.block-cards p1{
    position: absolute;
    color:#00ffd0;
    font-size: 18px;
    text-align: right;
    margin-left: 10%;
}

.block-cards p2{
    position:absolute;
    color:#00ffd0;
    font-size: 18px;
    left: 5%;
    text-align: left;
}

.card.left-illustrator{
    margin-top: 5%;
    margin-left: 65%;
}

.card.right-illustrator{
    margin-top: 5%;
    margin-left: 5%;
}


@keyframes RGB-light {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}